@charset "utf-8";
/* CSS Document */
body{font-family:Arial, "宋体"; margin:0; padding:0; font-size:12px; line-height:20px;}
ul,li{ margin:0; padding:0; list-style:none; }
a:link,a:visited{color:#282828; text-decoration:none; height:20px; line-height:20px;}
a:hover,a:active{color:#FF0000; text-decoration:underline; height:20px; line-height:20px;}
img{margin:0px; border:0px; vertical-align:bottom; display:block;}
.fr{float:right;}
.fl{float:left;}
.more{text-align:right; width:328px; height:20px; margin-top:10px; overflow:hidden; display:block;}
.more img{display:inline;}

body{background:url(../images/body_bg.jpg) #000000 center 50px repeat-y; width:100%; height:100%; color:#282828; text-align:center;}
.headerbox{background:url(../images/head_bg.jpg) top center no-repeat; height:543px; width:100%; overflow:hidden;}
.header{width:1003px; margin:0px auto; height:61px; overflow:hidden;}
.headnav{width:1003px;}
.contentbox{width:968px; margin:0px auto; padding:0px 14px 0px 21px; text-align:left;}
.footerbox{width:100%; background:url(../images/foot_bg.jpg)  bottom left repeat-x; height:191px; clear:both; float:left; position:relative;}
.footer{width:1003px; margin:0px auto;}


.foot_l{width:107px; height:191px; overflow:hidden; background:url(../images/foot_l.jpg) 0 0 no-repeat; position:absolute; left:0px;}
.foot_r{width:107px; height:191px; overflow:hidden; background:url(../images/foot_r.jpg) 0 0 no-repeat; position:absolute; right:0px;}

.footer ul{margin-top:80px;}


.logo { width:180px; height:50px; float:left; margin: 25px 0px 0px 170px; display:inline }
.tit { width:480px; height:60px; float:left; margin: 20px 0px 0px 20px; line-height:20px; color:#7d7d7d; /*display:inline*/ }
.tit a:link, .tit a:visited { color:#7d7d7d; text-decoration:none; }
.tit a:hover, .tit a:active { color:#7d7d7d; text-decoration:underline; }
.box01{width:1003px; margin:0px auto; height:480px;}


/*top_box*/
.login_box{width:219px; height:244px; overflow:hidden; background:url(../images/login_bg.jpg) 0 0 no-repeat; margin-top:230px; margin-left:21px; display:inline; float:left;}
.login_box ul{margin-top:77px; color:#000000; font-weight:bold; text-align:center;}
.login_box ul li{height:27px;}
.login_box_input01{width:98px; height:14px; border:1px solid #725b11; color:#000; font-size:12px}
.flash_box{background:url(../images/flash_bg.jpg) 0 0 no-repeat; width:273px; height:480px; overflow:hidden; margin:0px; float:left;}
.sg_news{width:489px; height:298px; overflow:hidden; margin-top:181px; float:left;}
.sub_nav{width:489px; height:29px; overflow:hidden;}
.news{width:476px; height:271px; overflow:hidden; background:url(../images/sg_news_bg.jpg) 0 0 no-repeat;}
.news_tab{height:25px; width:489px; overflow:hidden; padding-top:9px; padding-left:42px; color:#FFFFFF}
.news_tab li,.gonghui_nav li,.shop_nav li{float:left; background:url(../images/active_bg.gif) 0 0 no-repeat; height:25px; text-align:center; margin-left:4px; width:74px; line-height:23px; display:block; cursor:pointer; font-weight:bold; color:#FFFFFF;}
.news_tab .curr ,.gonghui_nav .curr ,.shop_nav .curr{width:74px; height:24px; display:block; background:url(../images/on_bg.gif) 0 0 no-repeat; text-align:center; color:#000; line-height:25px; font-weight:bold;}
.news_tab .curr{width:74px; height:24px; display:block; background:url(../images/on_bg.gif) 0 0 no-repeat; text-align:center; color:#000; line-height:25px; font-weight:bold;}
.news_con{width:426px; height:130px; margin-left:26px; overflow:hidden;}
.news_con ul{margin-top:5px;}
.news_con li{width:404px; line-height:20px; overflow:hidden; background:url(../images/bg_li.gif) left center no-repeat; padding-left:22px; border-bottom:1px dotted #876f34;}
.news_m a:link,.news_m a:visited{color:#ba1a1a; font-size:14px; width:426px; height:20px; line-height:26px; text-align:left; display:block; font-weight:bold; padding-left:22px; padding-top:5px; display:inline;}
.news_m a:hover,.news_m a:active{color:#ba1a1a; font-size:14px; width:426px; height:20px; line-height:26px; text-align:left; display:block; font-weight:bold; padding-left:22px; padding-top:5px; display:inline;}
.gxrz{width:360px; height:70px; line-height:18px; margin-top:5px; margin-left:80px;}
.gxrz li{line-height:18px; width:360px; overflow:hidden; color:#bca358}
.gxrz li a:link,.gxrz li a:visited{color:#bca358; line-height:18px;}
.gxrz li a:active,.gxrz li a:hover{color:#bca358; text-decoration:underline; line-height:18px;}

/*box02*/
.box02{width:968px; height:344px; overflow:hidden; clear:both;}
.fwq{background:url(../images/fwq_bg.jpg) 0 0 no-repeat; width:219px; height:344px; float:left; width:189px; height:293px; float:left; padding:36px 15px 15px 15px;}
.fwq_nav {width:181px; height:55px;}
.fwq_nav li{float:left; text-align:center; color:#f1d85c; font-weight:bold;}
.fwq_nav .hbxq{width:100%; color:#FFFFFF; font-weight:bold;}
.fwq_nav .hbxq a:link,.fwq_nav .hbxq a:visited{color:#FFFFFF;}
.fwq_nav .hbxq a:visited,.fwq_nav .hbxq a:active{color:#FFFFFF;}
.fwq_nav a:link,.fwq_nav a:visited{color:#f1d85c;}
.fwq_nav a:hover,.fwq_nav a:active{color:#f1d85c; text-decoration:underline}
.weihuo{color:#600908; padding:0px 20px; width:140px;}/*维护*/
.fwq_con{width:186px; height:242px; overflow:hidden; margin-top:0px; clear:both; padding-left:2px;}
.fwq_box li{float:left; width:90px; line-height:18px; height:18px; overflow:hidden; color:#282828; display:inline;}
.pingan{color:#282828; padding:20px 10px 20px 0px!important; *padding:10px 10px 20px 0px!important; padding:10px 10px 20px 0px; clear:both; margin-top:10px;}/*平安夜说明*/
.fanye{text-align:center; clear:both;}/*翻页*/



.box02_right{width:742px; height:344px; float:left; overflow:hidden; margin-left:7px;}
.min_ban{background:url(../images/min_ban_bg.jpg) 0 0 no-repeat; width:740px; height:94px; padding-top:12px; padding-left:2px;}
.min_ban li{float:left; margin-left:14px; display:inline;}
/*公会与动态*/
.ghdt{margin-top:10px; clear:both; width:742px; height:229px; overflow:hidden; background:#000000; clear:both;}
.gonghui, .dongtai{background:url(../images/game01_bg.jpg) 0 0 no-repeat; width:368px; height:229px; overflow:hidden; float:left;}
.dongtai{margin-left:5px;}
.dongtai_title{text-align:center; line-height:20px; margin-top:10px; color:#f7e399;}
.gonghui_nav ul{margin-top:10px; margin-left:100px;}
.gonghui_con{width:325px; height:160px; overflow:hidden; padding:12px 28px 12px 12px; color:#282828;}
.gonghui_con li{background:url(../images/bg_li.gif) left center no-repeat; line-height:20px; width:325px;}
.dongtai_con{width:325px; height:160px; overflow:hidden; padding:12px 20px 12px 20px; color:#282828; text-align:left;}

/*广告条banner*/
.banner{width:968px; height:116px; overflow:hidden; background:url(../images/banner_bg.jpg) 0 0 no-repeat; margin-top:7px; clear:both;}
.banner_con{margin:10px 13px;}
/*商城百科*/
.baikeshop{width:968px; height:219px; overflow:hidden; clear:both;}
.baike,.shop{background:url(../images/game02_bg.jpg) 0 0 no-repeat; width:482px; height:219px; float:left}
.baike_title{padding-left:80px; line-height:35px; font-size:12px; color:#f7e399; height:35px; width:400px;}
.baike_box{width:423px; padding:0px 26px 0px 33px;}
.baike_nav{height:34px; line-height:34px; overflow:hidden; width:423px;}
.baike_nav li{float:left; margin-right:35px; width:34px; height:34px; color:#282828; cursor:pointer;}
.baike_nav li a:link,.baike_nav li a:visited{color:#663e00;}
.baike_nav li a:hover,.baike_nav li a:active{color:#663e00; text-decoration:underline;}
.baike_con{color:#282828;}
.baike_con li{color:#282828; width:423px; overflow:hidden; line-height:18px; height:18px; overflow:hidden;}
.shop{margin-left:4px; text-align:left;}
.shop_title{background:url(../images/shop_title.jpg) 0 0 no-repeat; width:482px; height:31px; overflow:hidden;}
.shop_nav{background:url(../images/shop_title.jpg) 0 0 no-repeat; width:482px; height:31px; overflow:hidden;}
.shop_nav li{float:left;}
.shop_nav ul{margin-top:10px; margin-left:100px;}
.shop_con{width:432px; height:140px; overflow:hidden; color:#282828; padding:5px 25px 25px 25px;}
.shop_box{width:432px; height:64px; overflow:hidden; margin-top:10px;}
.shop_img{float:left; width:64px; height:64px; overflow:hidden; display:block; vertical-align:middle;}
.shop_txt{float:left; margin-left:5px; width:360px; height:64px; display:block;}

<!--排行-->
.paihang{width:968px; height:313px; overflow:hidden; clear:both;}
.top10,.ttc{background:url(../images/game03_bg.jpg) 0 0 no-repeat; width:482px; height:313px; float:left;}
.ttc{margin-left:4px;}
.ttc_title{background:url(../images/ttc_title.jpg) 0 0 no-repeat; width:482px; height:23px; overflow:hidden; padding-top:24px; color:#f7e399;}
.top10_title{height:23px; margin-top:14px; width:482px; overflow:hidden; color:#f7e399; padding-top:9px;}
.tip10_choose{float:right;}
.top10_con{padding:10px 72px 0px 22px;}
.top10_nav{border-bottom:1px solid #241707; padding-bottom:18px; padding-left:5px;}
.top10_nav li{float:left; background:url(../images/top10_libg.gif) 0 0 no-repeat; width:56px; height:19px; cursor:pointer; text-align:center; display:block; margin-left:4px;}
.top10_nav .curr{background:url(../images/top10_libg_on.gif) 0 0 no-repeat; width:56px; height:19px; line-height:19px; color:#282828; text-align:center}



/*警告*/
.warning{background:url(../images/warning.jpg) 0 0 no-repeat; width:968px; height:46px; overflow:hidden; margin-top:7px; clear:both; float:left;}


/*内页*/
.warpper{width:100%; overflow:hidden; margin:0px auto;  background:url(../images/head_bg.jpg) center top no-repeat; text-align:center;}
.ny_header{height:292px; width:1003px; margin:0px auto;}
.ny_content{width:1003px; overflow:hidden; margin:0px auto; display:block; text-align:left;}
.ny_left{width:219px; margin-left:21px; overflow:hidden; float:left; display:inline;}
.ny_login_box{width:219px; height:244px; overflow:hidden; background:url(../images/login_bg.jpg) 0 0 no-repeat;}
.ny_login_box ul{margin-top:77px; color:#000000; font-weight:bold; text-align:center;}
.ny_login_box ul li{height:27px;}
.login_box_input01{width:98px; height:14px; border:1px solid #725b11; color:#000; font-size:12px}




.ny_hd{background:url(../images/huo_bg.jpg) 0 0 no-repeat; width:219px; height:457px; overflow:hidden; margin-top:7px; float:left;}
.ny_hd ul{margin:25px 21px;}
.ny_hd li{background:url(../images/ny_hd_bg.jpg) 0 0 no-repeat; width:178px; height:93px; overflow:hidden; padding:5px 6px 4px 5px;}
.ny_right{float:left; background:url(../images/ny_right_bg.jpg) 4px 0 repeat-y; left:7px; width:747px; margin-top:20px; margin-left:8px;}
.ny_right_top{background:url(../images/ny_right_top.jpg) 0 0 no-repeat; height:48px; width:747px; }
.ny_right_con{padding:0px 50px; color:#282828; line-height:21px; padding-bottom:30px; min-height:900px!important; _height:900px;}
.ny_title{height:30px; font-weight:bold;}
.list_txt{margin-top:10px;}
.list_txt li{line-height:30px; background:url(../images/bg_li.gif) left center no-repeat; padding-left:22px; border-bottom:1px dotted #876f34;}
.ny_right_con h2{text-align:center; font-weight:bold; font-size:14px; margin-top:20px;}
.ny_right_btm{background:url(../images/ny_right_btm.jpg) 3px 0px no-repeat; width:747px; height:41px;}
.shuiyin { width:230px; margin:0px 0 0 420px; float:left; text-align:center; display: inline;}
.time{text-align:center; margin-bottom:20px;}

/*-------------------------分页*/
.pages {margin:5px auto 0px 10px; width:670px; text-align:center; margin-left:30px;}
.pages .pcount {display:inline; padding-right:10px; padding-left:10px; float:left; border-right:2px solid #CCC; line-height:13px; margin:6px 20px 0px 2px; font-weight:bold; color:#3366CC; font-size:11px; }

.pages .plist input { float:left; width: 30px; border: 1px solid #DDDDDD; height: 17px; }
.pages .plist #button { height: 18px; width: 30px; background-color: #FF6600; border: 1px solid #CC3333; color: #FFFFFF; }
.pages .plist span { float:right }
.pages strong {BORDER-RIGHT: #ffffff 1px solid; PADDING-RIGHT: 5px; BACKGROUND-POSITION: 50% bottom; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 5px; font-size:12px; PADDING-BOTTOM: 2px; BORDER-LEFT: #ffffff 1px solid; COLOR: #ffffff; MARGIN-RIGHT: 6px; PADDING-TOP: 2px; BORDER-BOTTOM: #ffffff 1px solid; BACKGROUND-COLOR: #606060}
.plist{PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 100%; PADDING-BOTTOM: 5px; MARGIN: 3px ; COLOR: #a0a0a0; PADDING-TOP: 5px; BACKGROUND-COLOR: #000; TEXT-ALIGN: center;}
.plist A {BORDER-RIGHT: #909090 1px solid; PADDING-RIGHT: 5px; BACKGROUND-POSITION: 50% bottom; BORDER-TOP: #909090 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; BORDER-LEFT: #909090 1px solid; COLOR: #c0c0c0; MARGIN-RIGHT: 3px; PADDING-TOP: 2px; BORDER-BOTTOM: #909090 1px solid; TEXT-DECORATION: none
}
.plist A:hover {BORDER-RIGHT: #f0f0f0 1px solid; BORDER-TOP: #f0f0f0 1px solid;  BORDER-LEFT: #f0f0f0 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #f0f0f0 1px solid; BACKGROUND-COLOR: #404040}
.plist A:active {BORDER-RIGHT: #f0f0f0 1px solid; BORDER-TOP: #f0f0f0 1px solid;  BORDER-LEFT: #f0f0f0 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #f0f0f0 1px solid; BACKGROUND-COLOR: #404040}